//background colors
.bg-primary {
  background-color: var(--primary-clr);
}
.bg-secondary {
  background-color: var(--sec-clr);
}
.bg-danger {
  background-color: var(--danger-clr);
}
.bg-success {
  background-color: var(--success-clr);
}