@use '../sass-utils/functions' as *;
@use '../sass-utils/mixins' as *;

.contact {

  .col-md-12 {
    padding: 0 1.3rem;
    position: relative;
    margin-bottom: 2rem;
    .error {
      display: none;
    }
  }

  .row {
    margin: 0 auto;
    @include view-above(lg) {
      width: 70%;
    }
    @include view-above(xlg) {
      width: 60%;
    }
  }

  input,textarea {
    width: 100%;
    padding: 1rem 0;
    margin: 0 0 .3rem;
    border: none;
    border-bottom: 1px solid  #E9ECEF;
    color:  #636363;
    font-family: var(--body-ft);
    font-size: clmp(1rem,1.5rem);
    transition: 250ms border ease-in-out;

  
    &:focus {
      outline: none;
      border-bottom: 1px solid  #c1c3c5;
    }

    &:valid + label, &:focus + label  {
      top: -.5rem;
    }

  }
  textarea {
    resize: none;
  }
  label {
    color:  #636363;
    padding: 0 0 2px;
    font-size: clmp(1rem,1.5rem);
    position: absolute;
    top: 1.7rem;
    left: 1.3rem;
    transition: 250ms all ease-in-out;
  }

  .btn {
    padding: 1rem 1.5rem;
    border-radius: .4rem;
    background-color: var(--primary-clr);
    color: #fff;
    font-size: 1.3rem;
    font-family: var(--body-ft);
    width: fit-content;    
    margin: 0 1.3rem;

  }
}