@use '../sass-utils/functions' as *;
@use '../sass-utils/mixins' as *;

.footer  {
  padding: 6.5rem 0 5rem;
  background-color: var(--sec-clr);
  color: #fff;

  h4 {
    text-transform: uppercase;
    font-size: clmp(1.4rem, 1.6rem);
    margin-bottom: 1rem;
  }

  p {
    font-size: clmp(1.1rem, 1.3rem);
    width: 80%;
    margin: 0 auto;
  }

  .container {
    @include view-above(xlg) {
      padding: 0 5rem;
    }
  }

}