@use '../../sass-utils/functions' as *;

.sec-title {
  h2 {
    font-size: clmp(2.25rem, 3rem);
    text-align: center;
    text-transform: uppercase;
    color: var(--sec-clr);
  }
  
  span {
    background-color: var(--sec-clr);
  }

  i {
    color: var(--sec-clr);
  }
}