@font-face {
  font-family: tt-norms;
  src: url('fonts/TTNorms-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: tt-norms;
  src: url('fonts/TTNorms-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: tt-norms;
  src: url('fonts/TTNorms-Bold.otf');
  font-weight: 700;
}

:root {
  /*  C O L O R S  */
  --primary-clr  :  #F68223;
  --text-clr     :  #343434;
  --shadow-clr   :  #30303029;
  --cards-bg     :  #F3F3F3;
}

//Maps
$breakpoints: (
  // 600px
  sm: 37.5rem,
  // 768px
  md: 48rem,
  // 992px
  lg: 62rem,
  // 1200px
  xlg: 75rem,
);